@import '~modern-normalize'


:root
  --primary: #2F4858
  --primary-light: #5a7385
  --primary-dark: #04212f
  --secondary: #ff4000
  --secondary-light: #ff773a
  --secondary-lighter: #fff2ed
  --secondary-lighter-bg: rgba(255, 242, 237, 0.75)
  --secondary-dark: #c30000
  --light: #fff
  --dark: #111
  --body-bg: #eceff1
  --bg-color: #fff
  @media screen and ( prefers-color-scheme: dark )
    --primary: #f8b081
    --primary-light: #f37e2b
    --primary-dark: #fbded0
    --secondary: #ff4000
    --secondary-light: #ff773a
    --secondary-lighter: #140600
    --secondary-lighter-bg: rgba(20, 6, 0, 0.75)
    --secondary-dark: #610000
    --light: #1f1f1f
    --dark: #eee
    --body-bg: #0d1012
    --bg-color: #111

html, body
  height: 100%

body
  color: var(--primary)
  background: var(--body-bg)
  display: flex
  flex-direction: column

#root
  flex-grow: 1

.navbar
  background-color: var(--light)
  border-bottom: 1px solid var(--secondary)
  display: flex
  justify-content: space-between
  > *
    flex: 1 0 0
  .empty
    @media screen and ( max-width: 768px )
      display: none
  .brand
    flex: 0 0 0
    padding: 0.5em
    text-align: center
    &-logo
      width: 2em
  .navbar-menu
    display: flex
    justify-content: flex-end
    a
      display: flex
      align-items: center
      padding: 1em 0.5em
      &, &:link, &:active
        color: var(--primary)
        text-decoration: none
        cursor: pointer
      &:hover
        background-color: var(--bg-color)
      &.github-link
        margin-left: 1em
        background-color: var(--primary)
        color: var(--light)
        &:hover
          background-color: var(--secondary)

.grid
  &__container
    padding: 1em
    max-width: 960px
  &__row
    margin: 0 -1em
    display: flex
    flex-wrap: wrap
  &__col
    flex: 1 1 0
    margin: 0 1em
    &--sm
      @media screen and ( max-width: 768px )
        flex: 0 0 100%

.grid__container.grid__container--root
  min-height: calc(100% - 3em)
  margin: 0 auto
  background-color: var(--light)
  box-shadow: 0 1em 1em rgba(var(--primary-light), 0.2)
  position: relative

.postcard
  padding: 1em
  margin-top: 1em
  box-shadow: 0 0 0 1px var(--secondary-dark)
  display: flex
  a, a:link, a:active
    color: var(--secondary-light)
    text-decoration: none
    transition: color 150ms ease
    margin: 0
  a:hover
    color: var(--secondary)
  a::after
    content: ''
    display: inline-block
    width: 10px
    height: 10px
    margin-left: 0.25em
    background: url(../assets/redirect.svg) no-repeat center / contain
    opacity: 0.6
    @media screen and ( prefers-color-scheme: dark )
      filter: invert(1)
  &__score
    flex: 0 0 2em
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    margin-right: 1em
    color: var(--secondary)
  &__title
    display: inline-block
    margin-bottom: 0.25em
    cursor: pointer
    &:hover
      color: var(--primary-dark)
    h3
      margin: 0
      display: inline
  &__url
    display: inline
    white-space: pre
    font-weight: 300
    padding: 0.25em
  &__meta
    font-size: 0.875em
    display: flex
    color: var(--primary-light)
  &__author
    color: var(--primary-dark)
  &__dot
    margin: 0 .5em
    @media screen and ( max-width: 768px )
      margin: 0 0.125em

.page__title
  font-size: 1.5em
  text-align: center
  margin-bottom: 1em

.sort__container
  display: flex
  justify-content: flex-end
  align-items: center

.sort__caption
  margin: 0 1em

.sort__item
  cursor: pointer
  user-select: none
  margin: 0 2px
  padding: 0.25em 0.5em
  border: 1px solid var(--primary-light)
  display: flex
  align-items: center
  &:focus, &:hover, &--active
    background-color: var(--secondary-light)
    color: var(--light)
    border: 1px solid var(--secondary-dark)


// UTILS
.empty
  visibility: hidden

.icon
  height: 1em
  width: 1em
  color: inherit
  &.github
    margin: 0 0.5em


// Spinners

.loading
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  align-items: center
  justify-content: center
  background-color: var(--secondary-lighter-bg)

@keyframes recursive-circle
  0%
    transform: rotate(0)
  100%
    transform: rotate(360deg)

.spinner
  display: flex
  justify-content: center
  align-items: center
  height: 4rem
  width: 4rem
  border: 2px solid var(--secondary)
  border-top-color: transparent
  border-radius: 50%
  animation: recursive-circle 2s linear infinite
  &::after
    content: ''
    display: block
    height: 50%
    width: 50%
    border-radius: 50%
    border: 2px solid var(--secondary)
    animation: recursive-circle 1s -1s linear infinite reverse
    border-top-color: transparent