@import '~modern-normalize'

$primary: #2F4858
$primary-light: #5a7385
$primary-dark: #04212f
$secondary: #ff4000
$secondary-light: #ff773a
$secondary-dark: #c30000
$light: #fff
$dark: #111
$body-bg: #eceff1
$bg-color: #fff

html, body
  height: 100%

body
  color: $primary
  background: $body-bg
  display: flex
  flex-direction: column

#root
  flex-grow: 1

.navbar
  background-color: $light
  border-bottom: 1px solid $secondary
  display: flex
  justify-content: space-between
  > *
    flex: 1 0 0
  .empty
    @media screen and ( max-width: 768px )
      display: none
  .brand
    flex: 0 0 0
    padding: 0.5em
    text-align: center
    &-logo
      width: 2em
  .navbar-menu
    display: flex
    justify-content: flex-end
    a
      display: flex
      align-items: center
      padding: 1em 0.5em
      &, &:link, &:active
        color: $primary
        text-decoration: none
        cursor: pointer
      &:hover
        background-color: $bg-color
      &.github-link
        margin-left: 1em
        background-color: $primary
        color: $light
        &:hover
          background-color: $secondary

.grid
  &__container
    padding: 1em
    max-width: 960px
  &__row
    margin: 0 -1em
    display: flex
    flex-wrap: wrap
  &__col
    flex: 1 1 0
    margin: 0 1em
    &--sm
      @media screen and ( max-width: 768px )
        flex: 0 0 100%

.grid__container.grid__container--root
  min-height: calc(100% - 3em)
  margin: 0 auto
  background-color: $light
  box-shadow: 0 1em 1em rgba($primary-light, 0.2)

.postcard
  padding: 1em
  margin-top: 1em
  border: 0.5px solid $primary-light
  box-shadow: 0 0 0 0.5px $secondary-dark
  display: flex
  &__score
    flex-shrink: 0
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    margin-right: 1em
    color: $secondary
  &__title
    display: flex
    align-items: center
    margin-bottom: 0.25em
    cursor: pointer
    &:hover
      color: $primary-dark
    h3
      margin: 0
  &__url
    font-weight: 300
    padding: 0.25em
    a, a:link, a:active
      color: $secondary-light
      text-decoration: none
      transition: color 150ms ease
      margin: 0 0.25em
    a:hover
      color: $secondary
    a::after
      content: ''
      display: inline-block
      width: 10px
      height: 10px
      margin-left: 0.25em
      background: url(../assets/redirect.svg) no-repeat center / contain
      opacity: 0.6
  &__meta
    font-size: 0.875em
    display: flex
    color: $primary-light
  &__author
    color: $primary-dark
  &__dot
    margin: 0 .5em
    @media screen and ( max-width: 768px )
      margin: 0 0.125em

// UTILS
.empty
  visibility: hidden

.icon
  height: 1em
  width: 1em
  color: inherit
  &.github
    margin: 0 0.5em
